.services {


  .section__main {
    max-width: 1035px;
    background: url(../img/s3_sun_bg.png) no-repeat center / 850px 850px;
    min-height: 850px;
    margin: 0 auto 63px auto;
    padding-top: 78px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}