.ben-card {
  background-color: $dark-blue;
  text-align: center;
  padding: 52px 30px;
  height: 100%;
  max-height: 420px;
  overflow: hidden;
  perspective: 600px;
  transition: all 1s ease;

  &--on {
    opacity: 1;
  }

  &--off {
    transform: rotateY(100deg);
    opacity: 0;
  }

  @include mobile-large {
    padding: 32px 14px;
  }

  @include mobile {
    padding: 52px 30px;
  }

  .col-4 {
    display: flex;
  }

  &__img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: $orange;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: 60% auto;
    background-position: 50% 50%;

    &--sales {
      background-image: url(../img/icons/section_4/1.svg);
    }

    &--team {
      background-image: url(../img/icons/section_4/2.svg);
    }

    &--speed {
      background-image: url(../img/icons/section_4/3.svg);
    }
  }

  &__title {
    color: #e5e5e5;
    font-family: $raleway-bold;
    font-size: 16px;
    text-transform: uppercase;
    margin: 36px 0 16px 0;
    @extend .text-overflow;
  }

  &__description {
    color: #97a4b2;
    font-family: $raleway-regular;
    font-size: 14px;
  }
}