.section {
    $root: &;
    padding-top: 100px;
    position: relative;

    &--blue {
        background-color: $dark-blue;

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            background-image: url(../img/bah_2.png) !important;
            top: -6px;
            height: 6px;
        }

        #{$root} {
            &__title {
                color: #f9f9f9;
            }
            &__desc {
                color: #e5e5e5;
            }
        }
    }

    &--gray {
        background-color: #e5e5e5;

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            background-image: url(../img/bah_3.png) !important;
            top: -6px;
            height: 6px;
        }
    }

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        background-image: url(../img/bah_1.png);
        top: -6px;
        height: 6px;
    }
    
    &__header {
        text-align: center;
        max-width: 941px;
        margin: 0 auto 60px auto;

        @include laptop {
            max-width: 860px;
        }

        @include tablet {
            max-width: 680px;
        }

        @include mobile-large {
            max-width: 480px;
        }

        @include mobile {
            max-width: 93%;
        }
    }

    &__title {
        color: #2c3949;
        font-family: $slab-medium;
        font-size: 30px;
        line-height: 1.2;
        text-transform: uppercase;
        padding-bottom: 28px;
        position: relative;
        margin-bottom: 28px;

        &::after {
            content: '';
            width: 165px;
            height: 4px;
            background-color: $orange;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__subtitle {
        font-family: $slab-medium;
        font-size: 24px;
        line-height: 1.5;
        text-align: center;
        text-transform: uppercase;
        color: $blue;
        margin-top: 54px;
    }

    &__main {
        padding-bottom: 100px;
        @include laptop {
            padding-bottom: 80px;
        }
        @include tablet {
            padding-bottom: 60px;
        }
        @include mobile-large {
            padding-bottom: 40px;
        }

        &--no-padding {
            padding-bottom: 0;
            @include laptop {
                padding-bottom: 0;
            }
            @include tablet {
                padding-bottom: 0;
            }
            @include mobile-large {
                padding-bottom: 0;
            }
        }
    }

    &__main-bottom {
        background-color: $blue;
        padding: 20px 0 60px 0;
    }

    &__main-top {
        position: relative;
        background-image: url(../img/shape-1.svg), url("../img/icons/section_1/scales.svg"),
        radial-gradient(circle closest-side, rgba(0, 0, 0, .05) 59%, rgba(0,0,0,0.03) 59%, rgba(0,0,0,0.03) 100%, rgba(0, 0, 0, 0) 100%);
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-position: center 100.4%, 49.3% 86%, 50% 0;
        background-size: 100% 100px, 159px 174px, 850px 850px;
        padding-bottom: 100px;

        &::after {
            content: '';
            position: absolute;
            display: block;
            left: 50%;
            bottom: 12px;
            transform: translateX(-50%);
            width: 118px;
            height: 55px;
            background: url(../img/logo_triangle.svg) no-repeat center center / cover;
        }
    }

    &__footer {
        text-align: center;
        line-height: 194px;
        height: 170px;
        background-color: $dark-blue;
        vertical-align: middle;

        @include tablet {
            height: 120px;
            line-height: 150px;
        }
        
        &--gray {
            background-color: #d6d6d6;
        }
        &--blue {
            background-color: $blue;
        }
    }

    @include laptop {
        padding-top: 80px;
    }

    @include tablet {
        padding-top: 70px;
    }

    @include mobile-large {
        padding-top: 60px;
    }

    @include mobile {
        padding-top: 40px;
    }
}