.services-article {
  max-width: 100%;
  overflow: hidden;
  width: 26%;
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;

  @include tablet {
    margin-bottom: 30px;
  }

  @include mobile-large {
    margin-bottom: 0;
    width: 33.3333%;
    padding: 10px;
  }

  &:first-child {
    margin-left: 85px;
    margin-top: 80px;

    @include tablet {
      margin-left: 20px;
    }

    @include mobile-large {
      margin: 0;
    }
  }

  &:nth-child(3) {
    margin-top: 80px;

    @include mobile-large {
      margin: 0;
    }
  }

  &:nth-child(4) {
    margin-top: -20px;

    @include mobile-large {
      margin: 0;
    }
  }

  &:nth-child(5) {
    margin-top: -20px;
    margin-left: 117px;

    @include tablet {
      margin-left: 75px;
      margin-top: 14px;
    }

    @include mobile-large {
      margin: 0;
      display: none;
    }
  }

  &:nth-child(6) {
    margin-left: auto;
    margin-top: -20px;

    @include mobile-large {
      margin: 0;
    }
  }

  &:nth-child(7) {
     margin-left: 85px;

    @include tablet {
      margin-left: 20px;
    }

    @include mobile-large {
      margin: 0;
    }
  }

  &:nth-child(8) {
    margin-top: 85px;

    @include mobile-large {
      margin: 0;
    }
  }


  &__title {
    font-family: $slab-medium;
    font-size: 22px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 20px;
    margin-top: 20px;
    a:hover {
      color: #fff;
    }
  }

  &__text {
    color: #f9f9f9;
  }

  &__img-wrapper {
    width: 130px;
    height: 130px;
    background-color: #f39f18;
    text-align: center;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablet {
      width: 110px;
      height: 110px;
    }

    img {
      width: 72px;
      height: 73px;
    }
  }
}