@font-face {
  font-family: RobotoBold;
  src: ('../webfonts/RobotoBold/RobotoBold.eot');
  src: url('../webfonts/RobotoBold/RobotoBold.ttf') format('ttf'),
      url('../webfonts/RobotoBold/RobotoBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: RalewaySemiBold;
  src: ('../webfonts/RalewaySemiBold/RalewaySemiBold.eot');
  src: url('../webfonts/RalewaySemiBold/RalewaySemiBold.ttf') format('ttf'),
  url('../webfonts/RalewaySemiBold/RalewaySemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: RalewayRegular;
  src: ('../webfonts/RalewayRegular/RalewayRegular.eot');
  src: url('../webfonts/RalewayRegular/RalewayRegular.ttf') format('ttf'),
  url('../webfonts/RalewayRegular/RalewayRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: RalewayBold;
  src: ('../webfonts/RalewayBold/RalewayBold.eot');
  src: url('../webfonts/RalewayBold/RalewayBold.ttf') format('ttf'),
  url('../webfonts/RalewayBold/RalewayBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: PFCentroSlabProMedium;
  src: ('../webfonts/PFCentroSlabProMedium/PFCentroSlabProMedium.eot');
  src: url('../webfonts/PFCentroSlabProMedium/PFCentroSlabProMedium.ttf') format('ttf'),
  url('../webfonts/PFCentroSlabProMedium/PFCentroSlabProMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: PFCentroSlabProBold;
  src: ('../webfonts/PFCentroSlabProBold/PFCentroSlabProBold.eot');
  src: url('../webfonts/PFCentroSlabProBold/PFCentroSlabProBold.ttf') format('ttf'),
  url('../webfonts/PFCentroSlabProBold/PFCentroSlabProBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
