$widescreen: 1440px;
$laptop: 1200px;
$tablet: 992px;
$mobile-large: 768px;
$mobile: 576px;

//colors
$orange: #F39F18;
$dark-blue: #2c3949;


//fonts
$roboto-bold: 'RobotoBold', Arial, Helvetica, sans-serif;
$raleway-semibold: 'RalewaySemiBold', Arial, Helvetica, sans-serif;
$raleway-regular: 'RalewayRegular', Arial, Helvetica, sans-serif;
$raleway-bold: 'RalewayBold', Arial, Helvetica, sans-serif;
$slab-medium: 'PFCentroSlabProMedium', Arial, Helvetica, sans-serif;
$slab-bold: 'PFCentroSlabProBold', Arial, Helvetica, sans-serif;



